body {
    background-color: #FFE4C4;
    margin: 40px;
}
div{
    background-color: #FFF8DC;
    padding: 20px;
}
h1{
    text-align: center;
}
footer{
    margin-top: 20px;
    text-align: center;
}
footer a{
    color: #000;
    text-decoration: none;
    
}
footer strong{
    color: #D2691E;
}
strong {
    color: #D2691E;
}
b{
    color: #800000;
}