body {
       margin: 50px;
       background-color: #E6E6FA;
}
h1 {
      text-align: center;
      color: #8B008B;
}
a, a:visited {
      text-decoration: none;
}
.nav {            
      text-align: center;    
}
.nav a{   
      color: #4B0082;
      background-color: #FFF;
      font-weight: bold;
      border: 1px dotted black;
}
.section {
      padding-left: 30px;
      background-color: #F6F6FA;
      margin-top: 30px;
      border: 1px solid black;
      border-radius: 20px;
}
.section h2 {
      font-size: 2.2em;
      color: #6A5ACD;
}
.section h3 {
      color: #540093;
      
}
.footer {
      margin-top: 40px;
      font-size: .9em;
}
.footer a {
      border: 1px solid #777;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 2px;
      margin-right: 10px;
      background-color: #FFF;
}
a > strong {
      background-color: #9932CC;
      color: #FFF;
      padding: 2px;
      padding-left: 4px;
      margin-right: 2px;
}
.footer{
      text-align: center;
}
span{
      background-color: black;
      color: yellow;
}
.nav a:hover{
      color: white;
      background-color: #4B0082;
}
